
.post-notice{
    max-width: 60%;
    margin: 50px auto;
    overflow:hidden
  
 
}
.wrapper{
    width: 440px;
    margin: 50px auto;
    overflow:hidden
}
.date-picker{
   border-radius:5px;
   height:50px;
   width:100%
}
.post-notice-wrapper{

    overflow:hidden;
    margin:20px
}

.btns{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    margin: 20px auto;
    border-radius: 10px;
    width:90%;
    height:5%;
    margin-top: 10%;

}
.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
.form-notice{
    margin:30px
}
.backGround-post{
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to right top, #f7fafd, #f2f5fa, #eeeff6, #ebeaf2, #e8e4ed);
    z-index: -2;
} 