.card-wrapper{
    margin:5px;
    margin-bottom:5px;
    
}
.card-subtitle{
  color:white;
  font-size: 16px
  
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 250px;
    width:250px;
   
  }
  .card-title{
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-top:30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%
  }
  .center-block{
    margin-left:50%
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-text{
      color:white;
      font-size: 20px;
      text-align: left;
  }

  .container {
    padding: 2px 16px;
  }

  .card-time{
      margin:10px auto;
  }
  .text-center{
    margin:20px
  }

  .card-wrapper{
    margin:10px;
    margin-bottom:15px;
    
}
.card-subtitle{
  color:white;
  font-size: 16px
  
}

  .card-title{
   
    text-decoration: underline;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold
  }
  .center-block{
    margin-left:50%
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-text{
      color:white;
      font-size: 20px;
      text-align: left;
  }

  .container {
    padding: 2px 16px;
  }

  .card-time{
      margin:10px auto;
  }
  .text-center{
    margin:20px
  }

  /* other */
  .backGround-browse{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(to right top, #f7fafd, #f2f5fa, #eeeff6, #ebeaf2, #e8e4ed);
    z-index: -2;
} 
.card-time-application{
  margin:2
}

.card-title-application{
  text-decoration: underline;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold
}